/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
/* Navigation styles */
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav li {
  display: inline-block;
  margin-right: 10px;
}

.nav li:last-child {
  margin-right: 0;
}

.nav-links {
  text-decoration: none;
  color: #fff; /* Set the text color to white */
  background-color: #333;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.nav-links:hover {
  background-color: #555;
}

.nav-links:focus,
.nav-links:active {
  outline: none;
}

.nav-links a {
  text-decoration: none; /* Remove underline for <a> tags */
  color: #fff; /* Set the text color to white */
}
  
  .main {
    padding: 20px;
  }
  
  .privacy-policy {
    max-width: 800px;
    margin: 0 auto;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
  }
  
  /* Additional styles specific to the privacy policy page */
  .privacy-policy h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .privacy-policy p {
    margin-bottom: 15px;
  }
  